# Base de datos
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/techmype_db?sslmode=require"

# WhatsApp Business
NEXT_PUBLIC_WHATSAPP_NUMBER="51999999999"
NEXT_PUBLIC_WHATSAPP_DEFAULT_MSG="Hola, me interesa digitalizar mi negocio. ¿Me pueden orientar?"

# Seguridad API interna
ADMIN_API_KEY="generar-con-openssl-rand-base64-32"

# Analytics (opcional)
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"

# URL pública
NEXT_PUBLIC_APP_URL="https://techmype.pe"
